:root{ 
    --font-sans:'DM Sans', sans-serif;
    --font-inter:'Inter', sans-serif;
    --size-300:300;
    --size-400:400;
    --size-500:500;
    --size-700:700;
    --background:#E5E5E5;
    --linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --bitcoin-orage:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#FFE9D5; 
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-blackplus1:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background:linear-gradient( 207.8deg, #201E1C 16.69%, #F7931A 100% );
}

.cabecera_superior--logo{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.cabecera_mitad{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}

.cabecera_mitad--titulo{
    font-weight: 5000px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.cabecera_mitad--parrafo{
    color: var(--soft-orange);
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.cabecera_mitad--boton{
    position:absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.cabecera_mitad--boton span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.seccion_prin_inter_moneda{
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}

.seccion_prin_inter_moneda--backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image:url('./img/Bitcoin.svg');
    background-size: covers;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion_prin_inter_moneda--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.seccion_prin_inter_moneda--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #000000;
}

.seccion_prin_inter_moneda--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

